.welcomediv {
    height: 80vh;
    background-color: #ffa751;
    text-align: center;
    padding-top: 50px;
}

img {
    height: 300px;
    width: 500px;
    margin: 0 auto;
}

.welcomep {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}